@use "sass:map";
@use "reset";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

@mixin _apply-font($font-name) {
    $font-map: map.get($typography-map, $font-name);
    font-size: map.get($font-map, "size");
    font-weight: map.get($font-map, "weight");
    letter-spacing: map.get($font-map, "letter-spacing");
    line-height: map.get($font-map, "line-height");
    font-family: "Roboto", sans-serif;
}


$typography-map: (
        "title-large": (
                "line-height": 28px,
                "size": 22px,
                "weight": 400,
                "letter-spacing": normal
        ),
        "display-large": (
                "line-height": 64px,
                "size": 57px,
                "weight": 400,
                "letter-spacing": normal
        ),
        "display-medium": (
            "line-height": 52px,
            "size": 45px,
            "weight": 400,
            "letter-spacing": normal
        ),
        "display-small": (
            "line-height": 44px,
            "size": 36px,
            "weight": 400,
            "letter-spacing": normal
        ),
        "headline-large": (
            "line-height": 40px,
            "size": 32px,
            "weight": 400,
            "letter-spacing": normal
        ),
        "headline-medium": (
            "line-height": 36px,
            "size": 28px,
            "weight": 400,
            "letter-spacing": normal
        ),
        "body-large": (
            "line-height": 24px,
            "size": 16px,
            "weight": 400,
            "letter-spacing": .5px
        ),
        "body-medium": (
            "line-height": 20px,
            "size": 14px,
            "weight": 400,
            "letter-spacing": .25px
        ),
);

$breakpoint-2xl: 1536px;
$breakpoint-lg: 1265px;
$breakpoint-md: 1050px;
$breakpoint-sm: 847px;

:root{
    color-scheme: light dark;

    --sys-light-on-primary: #FFFFFF;
    --sys-light-primary: #006399;
    --sys-dark-primary: #94CCFF;

    --sys-light-dark-primary: light-dark(#006399, #94CCFF);

    --sys-light-dark-background: light-dark(#FCFCFF, #1A1C1E);
    --sys-light-dark-on-background:light-dark(#1A1C1E, #E2E2E5);

    --sys-light-inverse-surface: #2F3033;
    --sys-light-inverse-on-surface:#F0F0F4;

    --sys-light-dark-surface-variant: light-dark(#DEE3EB, #42474E);
    --sys-light-dark-on-surface-variant: light-dark(#42474E, #C2C7CF);

    --sys-light-dark-secondary-container: light-dark(#D4E4F6,#394857);
    --sys-light-dark-on-secondary-container: light-dark(#0D1D2A, #D4E4F6);

    --sys-light-dark-primary-container: light-dark(#CDE5FF, #004B74);
    --sys-light-dark-on-primary-container: light0dark(#001D32, #CDE5FF);
}
body{
    background-color: var(--sys-light-dark-background);
    color: var(--sys-light-dark-on-background);
    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;
    padding-inline: 156px;
    position: relative;
    min-width: 714px;

    @media(width <=#{$breakpoint-lg}) {
        grid-template-columns: repeat(8, 1fr);
        padding-inline: 64px;
    }

    @media(width <=#{$breakpoint-sm}) {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 16px;
        padding-inline: 32px;
    }
}

section {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: subgrid;
    isolation: isolate;
}

.hero{
    color: var(--sys-light-on-primary);
    height: 100dvh;
    padding-block: 36px;
    grid-template-rows: min-content 1fr;

    &__header{
        display: grid;
        grid-column: 1 / -1;
        grid-template-columns: subgrid;

        @media(width <=#{$breakpoint-sm}) {
            grid-template-rows: repeat(2, min-content);
        }

        &__logo{
            grid-column: span 2;
        }

        &__list{
            @include _apply-font("title-large");
            grid-column: 7 / span 6;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            span{
                cursor: pointer;
            }

            @media(width <=#{$breakpoint-lg}) {
                grid-column: 5 / span 4;
            }

            @media(width <=#{$breakpoint-sm}) {
                grid-column: 3 / span 2;
            }

            @media(width <=#{$breakpoint-md}) {
                grid-column: 4 / span 5;
            }

            @media(width <=#{$breakpoint-sm}) {
                display: none;
            }
        }

        &__burger-menu{
            display: none;
            width: 50px;
            height: 50px;

            @media(width <=#{$breakpoint-sm}) {
                display: grid;
                place-items: center;
                place-self: right;
                grid-column: -1;
            }
        }
    }
    &__content{
        display: grid;
        grid-column: span 6;
        grid-template-rows: repeat(2, min-content);
        padding-block: 180px;
        gap: 128px;

        @media(width <=#{$breakpoint-lg}) {
            gap: 64px;
            grid-column: 1 / span 4;
        }

        @media(width <=#{$breakpoint-md}) {
            grid-column: 2 / span 6;
        }

        @media(width <=#{$breakpoint-sm}) {
            grid-column: span 4;
        }

        &__description{
            display: grid;
            gap: 16px;

            &__title{
                @include _apply-font("display-large");
            }

            &__subtitle{
                @include _apply-font("headline-large");
            }
        }

        &__button{
            display: grid;
            cursor: pointer;
            border-radius: 16px;
            justify-content: center;
            align-items: center;
            height: 100px;
            width: 100%;
            background-color: var(--sys-light-primary);
            @include _apply-font("display-medium");
        }
    }

    &:before{
        content: '';
        position: absolute;
        inset: 0;
        height: 100dvh;
        background-image: url("https://s3-alpha-sig.figma.com/img/5789/05ac/f6a90cb182a2ace4cb6fbef124c0b2ff?Expires=1733097600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=KFh4swPAoubYOSX3JDOwRQeMHCY-wnyItt9~aYL5P9orxPIm7D~sB2XrXxanGqmOQAmzzXToGl4nu1sEAW4myv-F0z3qYSrzNXj8yH7oycEOMBF46n~WA5KRkoIA91~2WS965jlHnqNtT4g1Rs-TJEDoKqhdTAsnVICUFpYgMZPxOwZ2xrpf2RMncjmW~KxYWfraj85P2OuaqFldwuZmo3JFoRUhx-Yk~2W7dclNCQ4CcPpqZ9aajPTpWOe~uDKiA2wkNTuXWPxcVWViavmuK-ZzFpM4zMZcv4e4g3Wnaf78SLbW6CCwb7-dZ4KEgO~SBXoCVn6lvBve~BgngUiwgw__");
        background-size: cover;
        background-position: right;
        z-index: -1;
    }
}

.desc{
    padding-block: 100px;

    @media (width <=#{$breakpoint-sm}){
        grid-template-rows: 1fr 1fr;
        gap: 32px
    }

    &__image{
        grid-column: span 5;
        background-image: url("https://s3-alpha-sig.figma.com/img/64af/9ae6/66d8a601f727fc4ad3e565f793de4b8d?Expires=1733097600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=JCaOsGCsjjpkrWJho1Y44TZrQ2BpKLYoCSIvUVz0VlHZ0gzgVBpbyPT~Wn9wkNoTPi9XcwcrZpTXvd0pvh4lChZQ5U5VhALHt7k-0gAGF1oUdRvfTufD~-bQvIa~imHqtrvvI0KgOYQNLZWaG8ZSjXhlAquj2mVh1cqYhJyBmQi1HRVqG9GUt-lFmzSabTwdFjHDQ9U3TJ73No~wMIxnJC0MuE2JssLUrcsP~~xrlVYQL5I28u-GkDL3alngbkI7XNR7iNh9JkSc7o~0-GmOose46LGLKSfsMArR9YjA4C5G56OyRcXmGi~ZxFiyszFHh2t7VDx1ywStsqWyfUTyTA__");
        background-size: cover;
        border-radius: 16px;

        background-position: center;
        @media(width <= #{$breakpoint-lg}){
            grid-column: span 3;
        }

        @media(width < #{$breakpoint-md}){
            grid-column: span 4;
        }

        @media (width <= #{$breakpoint-sm}){
        }
    }

    &__description{
        display: grid;
        grid-template-rows: auto;
        gap: 16px;
        grid-column: 7 / span 6;

        @media(width < #{$breakpoint-lg}){
            grid-column: 5 / span 4;
        }

        @media(width < #{$breakpoint-md}){
            grid-column: span 4;
        }

        @media (width <= #{$breakpoint-sm}){
        }

        &__title{
            color: var(--sys-light-dark-primary);
            @include _apply-font("headline-medium")
        }

        &__paragraph{
            @include _apply-font("body-large")
        }
    }

    &--inverse{
        &__image{
            grid-column: 8 / span 5;

            @media(width <= #{$breakpoint-lg}){
                grid-column: 6 / span 3;
            }

            @media(width < #{$breakpoint-md}){
                grid-column: span 4;
            }

            @media (width <= #{$breakpoint-sm}){
                grid-row: 1 / span 1
            }
        }

        &__description{
            grid-column: span 6;

            @media(width < #{$breakpoint-lg}){
                grid-column: span 4;
            }

            @media(width < #{$breakpoint-md}){
                grid-column: span 4;
            }

            @media (width <= #{$breakpoint-sm}){
                grid-row: 2 / span 1;
            }
        }
    }

    &--incendent{
        &__image{
            background-image: url("https://s3-alpha-sig.figma.com/img/bb1e/a021/06377785276820ebdeacea4c781ec8ad?Expires=1733097600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=bNsFyE4PU7b5AHFlCKUX8eBjt6VQrAqiuvOamQ0TIuIMLgUS1aD2SjYBDpymthwqJL2lDcFh~oVV2lR7HBdXpjEw-QW5AsOtLXTHziCp7-d6SDIGzYUzMiBw6ip5ZjQBkN2pRptYbL1sDvvgEwK3vKuEFasgmY9iJCsG61SA0pUlBQhvXkkM8SM8pX7CYZ8FNY-SIbgvzyF0sI8ZPKjxgtmjMOsaJEQHAr1jw1NHIaEdslJ7Ooe~4YS1mP6d--dyzX~uhYtpSSlaHyTfju-E5yrmh3fkSvib0XQypEegvLtLJxSMxdbwcRzJ-801e1IKKck9n5zreEwKzoXVI0wgWQ__");
        }
    }

    &--start{
        &__image{
            background-image: url("https://s3-alpha-sig.figma.com/img/1aad/e643/a3b12fcd939d4bd6c35e9116e519e18e?Expires=1733097600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=UvroUOp4egRlQbjQe8hJa9Yk3uwgFjTRBvk9eKtnrAdqXlmIa2kHMV56DVQijSbQYCoUGLp9MBXaBz9nvijXe7aI8zAcsd77HZnax1sRN-jhPtU4-bGC-DqL8gFvryE-1n1hJQ68RdqnfbphrK0LMm5XhXceZm9EEvyEKyPOQLn2DZrxhM3ruYn5K7TX1jV8jlrU82RszpPghDLnMHVtNlcpHs9U7DccQxBAxTheu9v9MKOIhUKUjUB2DrHUOW1lUmXfG~M423yR~o7BZpbpReIAQ3~UcUL~HyiXiJUidPZIbppgsaRFUiNe4PXpjJiAqYkT2KidkslVY46XMFuGDg__");
        }
    }

    &--recreated{
        &__image{
            background-image: url("https://s3-alpha-sig.figma.com/img/d1cb/3292/02792b3173f3cb9c1b096c4877d243dd?Expires=1733097600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=R4UWGTOeaa1y0HNMPFf6nv4V5SpQNRa~ANqqcv5Ruh8GrhJa51OOeBW7sCTbvhHdiNqaP5-1K3maEGg6MP67Q33NGbxOy1mhaz4Z1ZJ5uXYrC9C4SLLBuqvT1wcv42SelwYJIsYxOTINYsQ1gI6lILMkQuEhHZK7tgZfYk9b2JB4qml0D-Ks6swx661cUqSgT59uFz56efvIkjJj~k0KAteAEUUHbTfrEK2iqwOc~AAkfyi96aNSi4NPsWaPmtVLLcbsw6yVBCRdYlprGa9PAkqtPXpnWuiaOOSMkz9ntnLLHwO1YmVry-ScUNM5eH2WM5bCs9-JEDNaOC~dhMFGMQ__");
        }
    }

    &--help{
        &__image{
            background-image: url("https://s3-alpha-sig.figma.com/img/5265/b80c/4b87bae3c9f44ff369b80d9ef2ae1e5a?Expires=1733097600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=kAvEil1~HHU9Qt9E3e76Zjkghvkcal7~-goWu3yYl4r8H-cAa3kEVIidmPAniDGa58fHJRmxA1W2BVpLM0kiKkLIepIaOOZN7T2QoM8aBBkzXdnXPjLu4-ZnZGZp9ul4iOPiRg36T7L2EpdujpuRAV10nyIWUEutJBRsMQAYlgbLwb3dSdOYMF4VWmiG0yGFqPw-vrx9DlmgJ2-tOyxbJOyqwW31RxZNLAeXnC4hv01yjnijER2Zd9Nt8h0QrSL~cEz2o7KnjupiQw7x4WiHzR7CZtQsn8LPzmtXXhRnZotZcaBfUV2abFic1Kb0fj5GDQDqzlKuCbbA~39GDHziNA__");
        }
    }
}

.sta{
    height: 200px;
    background-color: var(--sys-light-inverse-surface);
    color: var(--sys-light-inverse-on-surface);
    position: relative;
    place-items: center;

    &__title{
        display: grid;
        grid-column: span 12;
        align-items: center;
        text-align: center;
        @include _apply-font("display-medium");
        
        @media(width <=#{$breakpoint-lg}) {
            grid-column: span 8;
        }
    
        @media(width <=#{$breakpoint-sm}) {
            grid-column: span 4;
        }
    }

    &::before{
        content: '';
        background-color: var(--sys-light-inverse-surface);
        position: absolute;
        height: 200px;
        width: 100dvw;
        z-index: -1;
    }

    &--button{
        &__title{
            display: grid;
            cursor: pointer;
            border-radius: 16px;
            justify-content: center;
            align-items: center;
            height: 100px;
            width: 552px;
            background-color: var(--sys-light-primary);
            @include _apply-font("display-medium");
        }
    }
    &--logo{
        height: 455px;
        place-self: center;
        background-color: var(--sys-light-dark-background);

        &__title{
            display: grid;
            place-self: center;
        }

        &::before{
            background-color: var(--sys-light-dark-background);
        }
    }
}

.story{
    height: 200px;
    background-color: var(--sys-light-dark-surface-variant);
    color: var(--sys-light-dark-on-surface-variant);
    padding-block: 64px;
    position: relative;

    &__title{
        grid-column: 5 / span 8;
        text-align: left;
        @include _apply-font("body-large");

        @media(width <=#{$breakpoint-lg}) {
            grid-column: 3 / span 6;
        }
    
        @media(width <=#{$breakpoint-sm}) {
            grid-column: span 4;
        }
    }
    &:before{
        content: '';
        background-color: var(--sys-light-dark-surface-variant);
        position: absolute; 
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%);
        width: 100dvw;
        height: 100%;
        z-index: -1;
    }
}

.info{
    position: relative;
    background-color: var(--sys-light-dark-secondary-container);
    row-gap: 50px;
    padding-block: 100px;

    @media (width <= #{$breakpoint-sm}){
        grid-template-rows: repeat(6, 1fr);
        row-gap: 25px;
    }

    &__image{
        background-size: cover;
        border-radius: 16px;
        background-position: center;
        background-image: url("https://s3-alpha-sig.figma.com/img/8b60/af22/f02d84ebb8b268ddabe0443886678db9?Expires=1733097600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=i~4Z~l15Km5kUH220R0HG1SCiXy~bLXUXlV~bgeYWUw5YLmOhfQzYqDJXCZGzUG-zgyTbtkMc1OgJLj1KKTT~-K3RTIdKTrZvHdcH8RtLuD34ADaDpVB-iQlvihP8j27rEG~tcIrYKva1PVA5-kT3fKkKTzDwSnbIvsrJn9SPpibbMBjj8owki3W~tS-9w6aLjeKjvMHulRGj6vmRnjrbH9nG~MLfT6rnj5Gqzg8g8XSLuwIQUzM2hIRgV00xWdYb~KpX6Gb4An84kZwYZuKL4K9oyzU3zUWdoCiJYqUiNhHA3j7684lLuq6NUUIqa3Z9ETzzmvTnbOocopRgvj-7Q__");
        grid-column: 1 / span 5;

        @media(width <= #{$breakpoint-lg}){
            grid-column: 1 / span 3;
        }

        @media(width < #{$breakpoint-md}){
            grid-column: 1 / span 4;
        }

        @media (width <= #{$breakpoint-sm}){
            grid-row: 1 / span 1;
        }
    }
    &__description{
        display: grid;
        gap: 16px;
        grid-column: 7 / span 6;

        @media(width <= #{$breakpoint-lg}){
            grid-column: 5 / span 4;
        }

        @media(width < #{$breakpoint-md}){
            grid-column: span 4;
        }

        @media (width <= #{$breakpoint-sm}){
            gap: 8px;
        }

        &:nth-last-child(2n){
            grid-column: 1 / span 6;
            @media(width < #{$breakpoint-lg}){
                grid-column: span 4;
            }
            @media (width <= #{$breakpoint-sm}){
                gap: 8px;
            }
        }

        &__title{
            @include _apply-font("headline-medium");
            color: var(--sys-light-dark-primary);
        }

        &__paragraph{
            @include _apply-font("body-large");
            color: var(--sys-light-dark-on-secondary-container);
        }
    }

    &::before{
        content: '';
        background-color: var(--sys-light-dark-secondary-container);
        position: absolute; 
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%);
        width: 100dvw;
        height: 100%;
        z-index: -1;
    }
}
.call{
    position: relative;
    place-items: center;
    color: var(--sys-light-dark-on-primary-container);
    background-color: var(--sys-light-dark-primary-container);

    &__title{
        display: grid;
        padding-block: 100px;
        grid-template-rows: repeat(3, min-content);
        gap: 16px;
        grid-column: span 12;
        align-items: center;
        text-align: center;

        @media(width <=#{$breakpoint-lg}) {
            grid-column: span 8;
        }

        @media(width <=#{$breakpoint-sm}) {
            grid-column: span 4;
        }

        h1{
            @include _apply-font("display-large");
        }

        h2{
            @include _apply-font("display-medium")
        }

        h3{
            @include _apply-font("display-small");
        }
    }

    &::before{
        content: '';
        background-color: var(--sys-light-dark-primary-container);
        position: absolute; 
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%);
        width: 100dvw;
        height: 100%;
        z-index: -1;
    }
}
.production{
    height: 150px;
    background-color: var(--sys-light-inverse-surface);
    color: var(--sys-light-inverse-on-surface);
    padding-block: 64px;
    position: relative;
    padding-block: 45px;

    &__title{
        width: 360px;
        grid-column: 9 / span 4;
        text-align: left;
        @include _apply-font("body-medium");

        @media(width <=#{$breakpoint-lg}) {
            grid-column: 6 / span 3;
        }
    
        @media(width <=#{$breakpoint-sm}) {
            grid-column: 3 / span 2;
        }
    }
    
    &:before{
        content: '';
        background-color: var(--sys-light-inverse-surface);
        position: absolute; 
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%);
        width: 100dvw;
        height: 100%;
        z-index: -1;
    }
}